<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Preguntas Frecuentes</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
      <a href="/">Proximos Eventos</a>
      <a href="/pago">Venta de Entradas</a>
      <a href="#">Conócenos</a>
      <a href="/faq">FAQ</a>
    </div>

  <div class="container">
    <h1>Preguntas Frecuentes</h1>
    <p><strong>¿Cuándo será el evento?</strong><br> El evento se celebra el 30 de junio de 2025.</p>
    <p><strong>¿Cómo puedo pagar?</strong><br> Puedes pagar por PayPal o tarjeta de crédito.</p>
  </div>
</body>
</html>